:root {
  --primary-color: #6a1e55;
  --secondary-color: #1a1a1d;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 20px;
  padding: 30px;
  width: 100%;
  max-width: 1600px;
}

.dashboard {
  background-color: transparent;
  flex-grow: 1;
  min-width: 340px;
  max-width: 1190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  padding: 20px;
  background: #aa6387;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  width: 100%;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
}
/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: var(--secondary-color);
  padding: 18px;
  font-size: 18px;
  position: relative;
}

.btn-repeat span,
.btn-random span {
  content: "";
  width: 15px;
  height: 15px;
  font-size: 13px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.progress-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* PLAYLIST */
.playlist {
  width: 30%;
  min-width: 300px;
  max-width: 490px;
  height: 450px;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 10px 15px;
}
.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: scale 0.2s ease-in;
}

.song:hover {
  scale: 1.05;
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  overflow: hidden;
  margin: 0 8px;
}
.thumb .thumb-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
